<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<center>
    <h1>please enter the below details to update password</h1>
    <div>
    <form action="password" method="post">
        {% csrf_token %}
        <table>
            <tr><td>Employee ID:</td><td><input type="number" name="eid" value=""/></td></tr>
            <tr><td>dob:</td><td><input type="date" name="dob" value="|date:"Y-m-d""></td></tr>
            <tr><td>new password:</td><td><input type="password" name="pass" value=""></td></tr>

        </table>
        <input type="submit">
    </form>
        {% if messages %}
        {% for i in messages %}

        <h3 style="color:{% if i.tags == 'success' %}green{% else %}red{% endif %}">{{i}}</h3>
        {% endfor %}
        {% endif %}
    </div>
    <a href="{% url 'index' %}">login again</a>
</center>
</body>
</html>