<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Employee role</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<center>
    <div>
    <form action="vemployee" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Empid</th>
                <th>Rid</th>
                <th>Job location</th>
                <th>Start Date</th>
                <th>End Date</th>

            </tr>
            <tr>
                <td><input type="number" name="empid" value=""></td>
                <td><input type="number" name="rid" value=""></td>
                <td><input type="text" name="joblocation" value=""></td>
                <td></td>
                <td><input type="submit" value="search"></td>
            </tr>
            {% if emprole %}
            {% for i in emprole %}
            <tr>
                <td>{{i.empid_id}}</td>
                <td>{{i.rid_id}}</td>
                <td>{{i.joblocation}}</td>
                <td>{{i.start_date}}</td>
                <td>{{i.end_date}}</td>
            </tr>
            {% endfor %}

            {% endif %}
        </table>
    </form>
  </div>
    <br/>
    <a href="{% url 'admin home' %}">Goto Admin page</a>
    {% if errors %}
        <h3 style="color:red">{{errors}}</h3>
    {% endif %}
    {% if messages %}
        {% for i in messages %}

        <h3 style="color:{% if i.tags == 'success' %}green{% else %}red{% endif %}">{{i}}</h3>
        {% endfor %}
        {% endif %}
</center>
</body>
</html>